body{
    overflow-x: hidden;
}

/*Navbar*/
.navbar-brand{
    font-family: 'Chilanka', cursive;
    font-weight: bold;
}
#navimg{
    width: 50px;
}
#Navbar1{
    height: 100px;
    background-color: #149e9e;
}
.nav-item{
    position: relative;
    left: 200px;
    display: inline-block;
}
.nav-link{
    margin-right: 28px;
}
.userlogin{
    position: relative;
    left: 70px;
}
#q{
    margin-left: 20px;
}

input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
#makeordersbtn {
    position: relative;
    top: 134px;
    left: 361px;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}
.row{
    position: relative;
    left: -2px;
    width: 100vw;
}
.socialicons {
    align-items: center;
    width: max-content;
    position: absolute;
    left: 9px;
    right: 0;
    margin: auto;
    top: 71px;
}
.topic{
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
    width: max-content;
    font-size: 25px;
}


#addItmbtn{
    position: absolute;
    top: 600px;
    left: 15px;
}


@media screen and (max-width: 768px) {
    .collapse{
        z-index: 5;
        align-items: flex-start;
        width: 100vw;
        position: relative;
        right: 0px;
    }
    .userlogin{
        position: relative;
        left: 0;
    }
    .collapse>navbar-nav{
        position: relative;
        right: 15px;
    }
    .nav-item{
        width: max-content;
    }
    .navbar-nav {
        position: relative;
        right: 144px;
    }
    .socialicons {
        align-items: center;
        width: max-content;
        position: relative;
        left: 34vw;
        top: 55px;
    }

}

@media screen and (max-width: 375px) {
    #Navbar1 {
        height: 175px;
        background-color: #149e9e;
    }

}

@media (min-width: 426px) and (max-width: 768px){
    .nav-item {
        display: inline-block;
        width: max-content;
    }
    .nav-link {
        display: inline-block;
    }
    .userlogin {
        position: relative;
        left: 0px;
    }
    .socialicons {
        align-items: center;
        width: max-content;
        position: absolute;
        left: 33px;
        right: 0;
        top: 50px;
    }
}

@media (min-width: 320px) and (max-width: 425px) {
    .socialicons {
        align-items: center;
        width: max-content;
        position: relative;
        left: 23vw;
        top: 55px;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    #Navbar1 {
        height: 160px;
    }
}

@media (min-width: 200px) and (max-width: 425px) {
    #makeordersbtn {
        position: relative;
        top: 134px;
        left: 10vw;
    }
}

@media (min-width: 200px) and (max-width: 425px) {
    .socialicons {
        align-items: center;
        width: max-content;
        position: absolute;
        left: 33px;
        right: 0;
        top: 50px;
    }
    .navbar-light .navbar-brand{
        font-size: 26px;
    }
    .table{
        position: absolute;
        top: 344px;
    }
    .topic {
        position: absolute;
        top: 191px;
        left: 0;
        right: 0;
        margin: auto;
        width: max-content;
        font-size: 25px;
    }

}

@media (min-width: 425px) and (max-width: 768px) {
    .navbar-light .navbar-toggler{
        position: relative;
        right: 35px;
    }
    .navbar-light .navbar-toggler {
        position: relative;
        left: 1px;
    }
    #makeordersbtn {
        position: relative;
        top: 134px;
        left: 29%;
    }
    .navbar-nav {
        position: relative;
        right: -21px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav-item {
        position: relative;
        left: 0px;
        display: inline-block;
    }
    .userlogin {
        position: relative;
        left: 20px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {


}


